@import "tailwindcss";

body{
    background-image: url(./assets/psdd_03_06_2022_112.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@layer utilities{
  
    .bg-blur{
        @apply bg-white/10 backdrop-blur-xl rounded-2xl border border-white/30 shadow-2xl font-semibold
    }
   
}
